# Root
node_modules/
venv/
*.log
*.local
.env

# Frontend
frontend/dist
frontend/node_modules
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Backend
church_backend/venv/
church_backend/*.log
church_backend/.env
church_backend/__pycache__/
*.pyc
__pycache__/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
