# Root
node_modules/
venv/
.venv/
*.log
.env
.env.local

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env.local
frontend/.env.*.local
frontend/tsconfig.tsbuildinfo
frontend/.vite/

# Backend
backend/__pycache__/
backend/*.log
backend/.env
backend/db.sqlite3
backend/*.pyc
backend/staticfiles/
backend/media/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
