Django==4.2.11  # Patch release
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.5
PyMySQL==1.1.0
python-decouple==3.8
Pillow==10.4.0
celery==5.3.6
redis==5.0.1
requests==2.31.0
PyJWT==2.8.0
cryptography==42.0.2
